.sidebar {
  width: 250px;
  top: 0px;
  left: 0px;
  bottom: 0px;
  background-color: #ccc
}
.sidebar .logo {
display: flex;
}

.sidebar .logo img {
  height: 40px;
  margin: auto;
  padding: 2px
}

.sidebar .nav {
  list-style-type: none;

}

.sidebar .nav li {

}
.sidebar .nav li a {
 align-items: center;
}
.sidebar .nav li a .ico {

}
.sidebar .nav li a .lbl {

}